
<% taxon = content.ingredient %>

<div class="taxon" data-hook="taxon">
  <h5 class="subtaxon-title">
    <%= link_to(image_tag(@taxon.icon(:normal) , :class => 'img-circle '), seo_url(@taxon))  %> 
  </h5>
  <div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

</div>